<script type="text/javascript">
	function adicionaNovo() {

		var linha_nova = "<tr id='row_pagamento'><td><input type='text' size='10' /></td><td><input type='text' size='10' /></td><td><input type='text' size='10' /></td><td><select><option>Teste 1</option></select></td><td><select><option>Teste 1</option></select></td><td><select><option>Teste 1</option></select></td><td><input type='text' size='10' /></td><td><input type='text' size='10' /></td><td><input type='text' size='10' /></td><td><input type='text' size='10' /></td><td><input type='text' size='10' /></td><td><button value='Adiciona novo pagamento' onclick='adicionaNovo();' /></td></tr>";


		$("#table_pagamentos").append(linha_nova);
		
	}
</script>
<div class="container">

  <div class="row">
    <div class="col-md-12 shadow">
      <div class="over-shadow">

      		<div class="col-sm-2">
            <div class="form-group">
              Colocar convênio
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              Emitente é o contratante?
            </div>
          </div>
  		</div>

			<div class="over-shadow">
      		<div class="col-sm-2">
            <div class="form-group">
              <table id="table_pagamentos">
            		<tr>
            			<td>Emitente</td>
            			<td>RG</td>
            			<td>Telefone</td>
            			<td>Endereço</td>
            			<td>Tipo de Pagamento</td>
            			<td>Bandeira</td>
            			<td>Parcelamento</td>
            			<td>PinPad</td>
            			<td>Autorização</td>
            			<td>Nº CV/DOC</td>
            			<td>Valor</td>
            		</tr>
            		<div >
	            		<tr id="row_pagamento">
	            			<td>
	            				<input type="text" size="10" />
	            			</td>
	            			<td>
	            				<input type="text" size="10" />
	            			</td>
	            			<td>
	            				<input type="text" size="10" />
	            			</td>
	            			<td>
	          					<select>
	          						<option>Teste 1</option>
	          					</select>
	            			</td>
	            			<td>
	            				<select>
	          						<option>Teste 1</option>
	          					</select>
	            			</td>
	            			<td>
	            				<select>
	          						<option>Teste 1</option>
	          					</select>
	            			</td>
	            			<td>
	            				<input type="text" size="10" />
	            			</td>
	            			<td>
	            				<input type="text" size="10" />
	            			</td>
	            			<td>
	            				<input type="text" size="10" />
	            			</td>
	            			<td>
	            				<input type="text" size="10" />
	            			</td>
	            			<td>
	            				<input type="text" size="10" />
	            			</td>
	            			<td>
	            				<button value="Adiciona novo pagamento" onclick="adicionaNovo();" />
	            			</td>
            			</tr>
            		</div>
            	</table>
            </div>
          </div>
  		</div>

  	</div>
  </div>

  
  <div class="row">
    <div class="col-xs-12" id="botoes-navegacao">
      <button type="button" class="col-xs-1 btn btn-default" style="visibility:hidden"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
      <button type="button" class="col-xs-offset-4 col-xs-2 btn btn-default">Cancelar</button>
      <button class="col-xs-offset-4 col-xs-1 btn btn-default" value="Próximo" type="submit"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
    </div>
  </div>
</div>
