<div class="container" id="intro_caixa_pagina">
	<div class="row">
        <div class="col-md-6" id="caixa_coluna">
            <div class="shadow">
                <div class="over-shadow">
                    <div id ="titulo_caixa">
                        <h1>Tipo de Operação</h1>
                    </div>
                    <div id="intro_caixa_botoes">
				    	<button type="button" id="pago" class="btn btn-block" style="margin-top:10%;" onclick="pago()">1. <b><u>P</u></b>ago</button>
						<button type="button" id="gratuito" class="btn btn-block" style="margin-top:5%;" onclick="gratuito()">2. <b><u>G</u></b>ratuito</button>
						<button type="button" id="registro_de_obito" class="btn btn-block" style="margin-top:5%;margin-bottom:5%;" onclick="registro_de_obito()">3. <b><u>R</u></b>egistro de Óbito</button>
				    </div>
                    <div id="caixa_btn_cancelar_ant">
                        <%= link_to "Cancelar", filtro_index_path, {id: "cancelar", class: "btn btn-default"} %>
                    </div>
                </div>
            </div>
        </div>    
    </div>    	
</div>